<nav class="teal darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
<img src="/images/logo.png" height="35" width="31">
&#160; | <small>perujug.org</small></a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>

          <ul class="nav-wrapper right hide-on-med-and-down">
            <li><a href="{{ "/" | relative_url }}">Home </a></li>
            <li><a href="https://jconfperu.org/" target="_blank">Jconf Peru</a></li>
            <li><a class="dropdown-trigger" href="{{ "/javaday/2018/" | relative_url }}" data-target="dropdown1">Java Day<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav teal darken-4">
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
          </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
