@charset "utf-8";
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.shadow-demo {
  background-color: #26a69a;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

h1.page-title {
  font-weight: 500;
  font-size: 2.3em;
  text-align: center;
  color: #29b6f6;
}

.col.grid-example {
  border: 1px solid #eee;
  margin: 7px 0;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  background-color: tomato;
  color: white;
  padding: 0;
}

.collection .collection-item.avatar {
  padding-right: 30px;
}

.last-post {
  padding: 10px 0 15px;
}

.last-post .collection .collection-item.avatar>.date-post {
  position: absolute;
  width: 54px;
  height: 54px;
  overflow: hidden;
  left: 10px;
  display: inline-block;
  padding: 16px 0;
  vertical-align: middle;
  background: #0D5334;
  color: #fff;
  text-align: center;
}

.txt-center {
  text-align: center;
}

.post-header h1.post-title {
  color: #29b6f6;
  font-size: 2.8em;
  font-weight: 800;
}

.post-header time {
  color: #cacaca;
  font-size: 0.9em;
}

p.rss-subscribe {
  margin: 0;
}

.parallax-container {
  height: "50%";
}

.materialboxed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.registro {
  width: 280px;
  height: 280px;
  background-color: #83a60a;
  text-align: center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  padding-top: 45px;
  line-height: 25px;
  margin: auto;
}

.registro h1,
.address h2{
  font-size: 30px;
  color: #fff;
  text-decoration: underline;
  margin-bottom: 20px;
  font-weight: bold;
}
.address{
  padding: 3rem !important; 
}

.background-rotate{
  z-index: -1;
  overflow: hidden;
  background:  #83a60a;
  position:absolute;
  width: 100%;
  height: 320px;
  border-radius: 20px;
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Safari 3-8 */
  transform: rotate(-3deg);
  box-shadow: 5px 10px 18px #ccc2c2;
}

#map {
  height: 320px;
}
.background-container{
    position:relative;
    color: white;
    margin-bottom: 5rem;
    height: 300px;
}

@media only screen and (max-width: 768px) {
  body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
  }
  h1 {
    font-size: 20px;
  }
  .col1 {
    margin-top: 10px;
  }
  .col2 {
    margin-top: 10px;
  }
  .col3 {
    margin-top: 10px;
  }
  .padding20 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .filaexpo {
    text-align: center;
    margin-bottom: 0px;
  }
  .registro {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
  }

}


.boton {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    color: #83a60a;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .boton:hover {
    color: #fff;
    background: #ccc;
    text-decoration: none;
  }
  


.charla{margin-bottom: 10px;}
.mapa{z-index:999;position: relative;background-image: url("../images/javadayperu/desktop.png");width: 1001px; height: 406px; color:#fff;margin-top: -30px;}
.mapa h1{font-size: 30px; color: #fff;text-decoration: underline;margin-bottom: 15px;font-weight: bold;}
.lugar{margin-top: 80px; margin-left: 40px!important;}

.titlejava{font-size: 30px; color: #83a60a;text-decoration: underline;margin-bottom: 15px;font-weight: bold;}
